<?php
$finder = PhpCsFixer\Finder::create()
    ->in('src')
;
return PhpCsFixer\Config::create()
    ->setRules(array(
        '@Symfony' => true,
        'array_syntax' => array('syntax' => 'short'),
        'concat_space' => array('spacing' => 'one'),
        'no_blank_lines_before_namespace' => true,
        'single_blank_line_before_namespace' => false,
        'no_extra_consecutive_blank_lines' => true,
        'ordered_imports' => true,
        'pre_increment' => true,
        'short_scalar_cast' => true,
        'phpdoc_add_missing_param_annotation' => true,
        'phpdoc_order' => true,
    ))
    ->setFinder($finder)
    ->setUsingCache(true);
